html {
	font-size: 15px;
}
.container-fluid {
	max-width: 1024px;
}
.btncreateacc {
	width: 516px;
	height: 85px;
	border-radius: 10px;
	background-color: #d94e09;
	border-color: #d94e09;
	margin-top: 30px;
	box-shadow: 1px 1px 1px rgb(150, 150, 150);
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-size: 30px;
		margin-left: 15px;
		margin-top: 10px;
	}
}
.logo {
	display: flex;
	width: 65px;
	height: 65px;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 24px;
	border: 4px solid #d94e09;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 0 2px white;
}
h2 {
	font-weight: 200;
}
h4 {
	color: #d94e09;
}
ol {
	list-style-position: inside;
	padding-left: 0;
}
.section1 {
	background-color: #f3f3f3;
	padding: 15px;
	p {
		font-weight: bold;
	}
}
.imagearea {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
@media (max-width: 992px) {
	.imagearea {
		img {
			margin: 0 auto;
			max-width: 400px;
		}
	}
	.btncreateacc {
		width: 350px;
		p {
			font-size: 20px;
		}
	}
}
